header {
    background-color: #299be4;
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 10px
}

.header-right-button {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.content table thead tr th {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
}

span.error {
    color: red;
}

footer {
    position: fixed !important;
    bottom: 0;
    left: 0;
    height: auto;
    margin-bottom: 0 !important;
    width: 100%;
}